{% extends 'base.html.twig' %}

{% block title %}
    Hello | Show
{% endblock %}

{% block body %}
    <div>
        Hello, my name is <b>{{ user.name }}</b> and my ID is <b>{{ user.id }}</b>
    </div>
{% endblock %}